<script>
var allProducts = "";
window.onload = function() {
document.getElementById("listOfProductsTable").innerHTML = "<h3 style='text-align: center;'>Waiting for data</h3>";
var xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    
        allProducts = this.responseText;
        var allProductsArr = JSON.parse(allProducts);
        printTableWithAllProducts(allProductsArr);
  }
};
xmlhttp.open("GET", "index.php?route=account/itemlist/jsonFunc", true);
xmlhttp.send();
}

 function printTableWithAllProducts(data){
    let htmlTableData = "";
     htmlTableData += '<div style="max-width:1200px; width:100%;">';
     htmlTableData += '  <table style="border-collapse: collapse; border: 1px solid black; width: 96%;  margin-left:auto; margin-right: auto">';
     htmlTableData += '    <tr>';
     htmlTableData += '      <th style="width:90%; border: 1px solid black; padding:3px;">Product </th>';
     htmlTableData += '      <th style="width:10%; border: 1px solid black; padding:3px;">Price</th>';
     htmlTableData += '    </tr>';
     for(let i = 0; i < data.length; i++){
         htmlTableData += '<tr><td style="padding:3px; border: 1px solid black;"><a href="' + data[i].href + '">' + data[i].name + '</a><button id="' + data[i].product_id + '" style="float: right;" type="button" onclick="showDescription(this.id)">More</button>';
         htmlTableData += '    <div style="display:none;" id="div' + data[i].product_id + '">';
         htmlTableData += '        <a href="' + data[i].href + '"><img style="float: left; width: 100px; margin-right: 3px" src="' + data[i].thumb + '" alt="' + data[i].name + '" title="' + data[i].name + '" /></a>' + data[i].description + '</div></td>';
         htmlTableData += '    <td style="padding:3px; border: 1px solid black;">' + data[i].price + '</td>';
     }
     htmlTableData += '</table>';
     htmlTableData += '</div>';
     document.getElementById("listOfProductsTable").innerHTML = htmlTableData;
 }

function showDescription(clicked_id)
{
  var divToShow = document.getElementById('div'+clicked_id);
  if(divToShow.style.display =="none"){
    divToShow.style.display = "block";
    document.getElementById(clicked_id).textContent = 'Hide';
  }
  else{
    divToShow.style.display = "none";
    document.getElementById(clicked_id).textContent = 'More';
  }
}
function viewAllProductsInCategory(id){

  var url = window.location.href;
  if(url.indexOf('&')!=-1){
    url = url.slice(0, url.indexOf('&'));
  }
  var qs = "&catid=" + id;
  window.location.href = url + qs;
}
</script>
{{ header }}
<div id="product-category" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
    <div class="row">
        <div id="listOfProductsTable"></div>
    </div>
</div>

{{ footer }}
